/**
demo.css is the stylesheet for demo.html

Course: cs-396/398 Senior Projects
Course Coordinator: Professor Kenneth
Adviser: Professor Kenneth Arnold
Student: Joseph Jinn
Date: 1-20-20
 */

h1 {
    color: #2ecd3b;
}

h2 {
    color: #2ecd3b;
}

p {
    color: #27cd51;
}

#document-body {
    background-color: black;
}

#input-text-area {
    color: #27cd51;
    background-color: black;
    box-shadow: inset 2px 2px 2px #666;
}

#output-canvas {
    background-color: black;
    box-shadow: inset 2px 2px 2px #666;
}

#generate-button {
    color: #27cd51;
    background-color: black;
    box-shadow: inset 2px 2px 2px #666;
}

#visualization-svg {
    background-color: #000000;
}