/**
template.css is the stylesheet for template.html

Course: cs-396/398 Senior Projects
Course Coordinator: Professor Kenneth
Adviser: Professor Kenneth Arnold
Student: Joseph Jinn
Date: 1-20-20
 */

h1 {
    color: #2ecd3b;
}

p {
    color: #27cd51;
}

#document-body {
    background-color: black;
}