<!DOCTYPE html>
<html lang="en">
<!---------------------------------------------------------------------------------------------------->
<head>
    <meta charset="UTF-8">
    <title>Calvin University CS-396/398 Senior Project - Visualization</title>

    <!-- Javascript files -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- CSS stylesheet file -->
    <link rel="stylesheet" href="../static/visualization.css">
</head>
<!---------------------------------------------------------------------------------------------------->
<body id="document-body">
{% extends "template.html" %}
{% block content %}

<h1>Visualization - Text Prediction (GPT-2 Model)</h1>
<h2>Note: Utilized "faked" data until Python back-end is complete.</h2>

<!-- Wrapper for positioning -->
<div class="wrapper">
    <!-- Visualization background image -->
    <div id="visualization-background-div">
        <canvas id="visualization-canvas" width="720" height="540">
            <p>Your browser doesn't support the HTML5 canvas element.</p>
        </canvas>
    </div>

    <!-- Visualization -->
    <svg id="visualization-svg" width="720" height="540"></svg>
</div>

<!-- Javascript file -->
<script src="../static/visualization.js"></script>
{% endblock %}
</body>
<!---------------------------------------------------------------------------------------------------->
</html>
